.breadcrumbs
 {
 	margin-bottom: 20px;
 }

.img4
{
	color: white;
	height: 50px;
	background-color: rgba(0,0,0,0.7);
	position: relative;
	top: -50px;
	opacity: 0;
}

.art4:hover .img4{
	opacity: 100;
	-webkit-transition: opacity 0.5s;
}

.art3:hover .img4{
	opacity: 100;
	-webkit-transition: opacity 0.5s;
}

 .art4 img
 {
 	height: 270px;
 	margin-top: -15px;
 }

 .art3 img 
 {
 	height:370px;
 	margin-top: -15px;
 }


